.buttons-container {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 40px;
  width: 100%;
}

.Login-container input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: white;
  font-size: 16px;
  margin-top: 30px;
  outline: none;
  padding: 0 5px;
}

.Login-play, .btn-settings {
  background-color: transparent;
  color: white;
}

.Login-play:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
